body{
    background-color: rgb(24, 24, 24);
    text-decoration: none;
    text-decoration-line: none;
}



header{
    background-color: rgb(18, 18, 18);
    width: auto;
    height: 100px;
    border-radius: 12px;
}

#studybuddy{
    width: 100px;
}

#studybuddyimg{
    width: 60px;
    
}

#studybuddyText{
    position: relative;
    top: -80px;
    left: 60px;
    color: white;
    font-family: "press start 2p";
}

.headerbtn{
    margin: auto;
    margin-top: -10px;
    margin-left: 20px;
    position: relative;
    width: 70px;
    height: 30px;
    background-color:rgb(18, 18, 18);
    border: none;
    font-size: larger;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    bottom: 80px;
    text-decoration: none;
}


.dropdown{
    display: inline-block;
    position: relative;
    bottom: 80px;
}

.dropdown button{
    background-color:rgb(18, 18, 18);
    color: white;
    border: none;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown a{
    display: block;
    color:rgb(255, 255, 255)  ;
    padding: 10px 15px;
    text-decoration: none;
}

.dropdown .content{
    display: none;
    background-color: white;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px black;
}

.dropdown :hover .content{
    display: block;
}

.dropdown:hover{
    color: black;
}

#coins{
    width: 85px;
    height: 30px;
    border: 2px rgb(154, 154, 154) solid;
    border-radius: 10px;
    right: 30px;
    position: fixed;
    top: 60px;
}

#coinsimg{
    width: 30px;
}

#coinsamount{
    color: white;
    position:relative ;
    bottom: 49px;
    left:30px;
    font-family: "press start 2p";
}

#profilename{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#profileContainer{
    position: fixed;
    top: 10px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    z-index: 1000;

}

#pastpapper{
    width: 320px;
    height: 120px;
    border: 2px white solid;
    border-radius: 20px;
    margin: auto;
    position: fixed;
    margin-top: 450px;
    left: 920px;
    padding: 10px;
    display: flex;
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}

#pastpapperText{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top:-3px;
}

#pastpapperdesc{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top: 60px;
    position: relative;
    left: -85px;
    font-size: medium;    
}

a, a * {
    text-decoration: none;
    color: white;
}

#notes{
    width: 320px;
    height: 120px;
    border: 2px white solid;
    border-radius: 20px;
    margin: auto;
    position: fixed;
    padding: 10px;
    display: flex;
    text-decoration: none;
    text-decoration: none;
    text-decoration-line: none;
    left: 450px;
    margin-top: 200px;
}

#notesText{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-left: 30px;    
}

#notesdesc{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top: 60px;
    position: relative;
    left: -70px;
    font-size: medium;
}

#quiz{
    width: 320px;
    height: 120px;
    border: 2px white solid;
    border-radius: 20px;
    margin: auto;
    position: fixed;
    padding: 10px;
    display: flex;
    text-decoration: none;
    text-decoration: none;
    text-decoration-line: none;
    left: 450px;
    margin-top: 450px;
}

#quizText{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;     
}

#quizdesc{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top: 60px;
    position: relative;
    left: -50px;
    font-size: medium;    
}

#timer{
    width: 320px;
    height: 120px;
    border: 2px white solid;
    border-radius: 20px;
    margin: auto;
    position: fixed;
    padding: 10px;
    display: flex;
    text-decoration: none;
    text-decoration-line: none;
    left: 920px;
    margin-top: 200px;
}

#timerText{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    
}

#timerdesc{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top: 60px;
    position: relative;
    left: -70px;
    font-size: medium;
}

#quests{
    width: 100px;
    top: 800px;
    border: 2px solid black;
    border-radius:10px ;
    position: fixed;
}

#profilepic{
    width: 40px;
    border-radius: 70px;
    margin: 0;
}

#quest-notification{
    color: black;
    margin-left: 1260px;
    position: relative;
    bottom: 100px;
    font-family: "press start 2p";
    width: 400px;
    border: 2px solid black;
    height: 70px;
    border-radius: 15px;
    background-color: white;
    display: none;
}

#gotoquestsbtn{
    color: white;
    margin-left: 300px;
    background-color:rgb(24, 24, 24) ;
    border: 1px solid white;
    border-radius: 10px;
    position:relative ;
    top: 20px;
    cursor: pointer;
}