body{
    background-color: rgb(24, 24, 24);
    text-decoration: none;
    text-decoration-line: none;
}

header{
    background-color: rgb(18, 18, 18);
    width: auto;
    height: 100px;
    border-radius: 12px;
}

#studybuddy{
    width: 100px;
}

#studybuddyimg{
    width: 60px;
}

#studybuddyText{
    position: relative;
    top: -80px;
    left: 60px;
    color: white;
    font-family: "press start 2p";
}

.headerbtn{
    margin: auto;
    margin-top: -10px;
    margin-left: 20px;
    position: relative;
    width: 70px;
    height: 30px;
    background-color:rgb(18, 18, 18);
    border: none;
    font-size: larger;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    bottom: 80px;
}

.homeworkbtn{
    position: relative;
    bottom: 80px;
}

.shopbtn{
     position: relative;
    bottom: 80px;
}

.headerbtn:hover{
    background-color:rgb(35, 35, 35) ;

}

.homeworkbtn{
    margin: auto;
    background-color: rgb(18, 18, 18);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.homeworkbtn:hover{
    background-color:rgb(35, 35, 35) ;
}

.shopbtn{
    margin: auto;
    background-color: rgb(18, 18, 18);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;  
}

.shopbtn:hover{
    background-color:rgb(35, 35, 35) ;    
}

#pastpapper{
    width: 320px;
    height: 120px;
    border: 2px white solid;
    border-radius: 20px;
    margin: auto;
    position: relative;
    top: 150px;
    right: 250px;
    padding: 10px;
    display: flex;
    text-decoration: none;
    text-decoration: none;
    text-decoration-line: none;
}

#pastpapperText{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top:-3px;
}

#pastpapperdesc{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top: 60px;
    position: relative;
    left: -85px;
    font-size: medium;    
}

#notes{
    width: 320px;
    height: 120px;
    border: 2px white solid;
    border-radius: 20px;
    margin: auto;
    position: relative;
    padding: 10px;
    display: flex;
    text-decoration: none;
    text-decoration: none;
    text-decoration-line: none;
    left: 250px;
    top: 7px;
}

#notesText{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-left: 30px;    
}

#notesdesc{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top: 60px;
    position: relative;
    left: -70px;
    font-size: medium;
}

#quiz{
    width: 320px;
    height: 120px;
    border: 2px white solid;
    border-radius: 20px;
    margin: auto;
    position: relative;
    padding: 10px;
    display: flex;
    text-decoration: none;
    text-decoration: none;
    text-decoration-line: none;
    left: 250px;
    top: 100px;
}

#quizText{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;     
}

#quizdesc{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top: 60px;
    position: relative;
    left: -50px;
    font-size: medium;    
}

#timer{
    width: 320px;
    height: 120px;
    border: 2px white solid;
    border-radius: 20px;
    margin: auto;
    position: relative;
    padding: 10px;
    display: flex;
    text-decoration: none;
    text-decoration: none;
    text-decoration-line: none;
    margin-right: 910px;
    top: -44px;
}

#timerText{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    
}

#timerdesc{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    text-decoration-line: none;
    margin-top: 60px;
    position: relative;
    left: -70px;
    font-size: medium;
}