body{
    background-color:rgba(93, 189, 245, 0.877) ;
}

#question-container{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submitbtn{
    margin-top: 360px;
    margin-left: 1400px;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    font-family: "press start 2p";
    cursor: pointer;
    font-size: larger;
    background-color: rgb(32, 140, 218);
    color: white;
}

#submitbtn:hover{
    background-color:rgb(28, 110, 168);
}

label {
    font-family: 'Press Start 2P', cursive;
    color: black;
    background-color: white;
    padding: 10px;
    margin: 10px 0;
    display: block;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;

}



input[type="radio"] {
    margin-right: 10px;
    transform: scale(1.5); 
    accent-color: #00ffcc; 
}

#result{
    color: white;
    font-family: "press start 2p";
}

#finalresult{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    font-size: x-large;
}

#cloud1{
    width: 200px;
    position: relative;
    bottom: 700px;
}
#cloud2{
    width: 200px;
    position: relative;
    bottom: 1200px;
}
#cloud3{
    width: 200px;
    position: relative;
    bottom: 860px;
}

#cloud4{
    width: 200px;
    position: relative;
    bottom: 1400px;
}
#cloud5{
    width: 200px;
    position: relative;
    bottom: 1300px;
}
#cloud6{
    width: 200px;
    position: relative;
    bottom: 840px;
}
#cloud7{
    width: 200px;
    position: relative;
    bottom: 1160px;
}

#cloud8{
    width: 200px;
    position: relative;
    bottom: 760px;
}

#right-or-wrong{
    font-family: "press start 2p";
    font-size: large;
    position: relative;
    bottom: 300px;
    text-align: center;
}

#homebtn{
    position: relative;
    bottom: 60px;
    right: 700px;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    font-family: "press start 2p";
    cursor: pointer;
    font-size: larger;
    background-color: rgb(32, 140, 218);
    color: white;   
}

#homebtn:hover{
    background-color: rgb(22, 101, 158);
}